body {
  background-image: url(../images/background.png);
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 62px;
}

#block-menu-block-1 li a {
  text-decoration: none;
  color: #7ab602;
  clear: both;
  font-family: Segoe;
}

#block-menu-block-1 li a:hover {
  color: #e8b22b;
}

#block-menu-block-1 li {
  text-align: center;
  width: 18%;
}

#block-menu-block-1 li.menu-mlid-171:before {
  content: "выпускной";
  display: block;
}

#block-menu-block-1 li.menu-mlid-172:before {
  content: "выпускной";
  display: block;
}

#block-menu-block-1 li.menu-mlid-173:before {
  content: "выпускной";
  display: block;
}

#block-menu-block-1 li.menu-mlid-174:before {
  content: "посетите";
  display: block;
}

#block-menu-block-1 li.menu-mlid-175:before {
  content: "узнайте";
  display: block;
}

@font-face {
  font-family: Segoe; 
  src: local("Segoe"), 
       url(../font/segoesc.ttf);
}

.view-main-gallery-block #views_slideshow_cycle_main_main_gallery_block-page img {
  border: 20px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.view-main-gallery-block #views_slideshow_controls_text_main_gallery_block-page {
  text-align: center;
}

.view-main-gallery-block #views_slideshow_controls_text_main_gallery_block-page a {
  text-decoration: none;
  font-family: Segoe;
  color: #7ab602;
  margin: 0 10px;
}

.view-main-gallery-block #views_slideshow_controls_text_main_gallery_block-page a:hover {
  text-decoration: none;
  color: #e8b22b;
}

/* Dropdown lists */
#block-menu-block-1 ul li.expanded ul.menu {
  background-image: url(../images/background.png);
  display: none;
  position: absolute;
  width: 200px;
  z-index: 100;
  clear: both;
  border-radius: 10px;
  padding-top: 10px;
}

#block-menu-block-1 ul li.expanded ul.menu li {
  border: 0;
  clear: both;
}

#block-menu-block-1 ul li.expanded ul.menu li a {
 
  border: 0;
  display: block;
  line-height: 5px;
  width: 200px;
  height: 20px;
  clear: both;
}

ul li.expanded {
  display: block;
  list-style-image: none;
  list-style-type: none;
}