body {
  background-image: url(../images/background.png);
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 62px;
  text-align: center;
}

#main-menu li a {
  text-decoration: none;
  color: #7ab602;
  clear: both;
  font-family: Segoe;
}

#main-menu li a:hover {
  color: #e8b22b;
}

#main-menu li {
  text-align: center;
  width: 18%;
}

#main-menu li.menu-171:before {
  content: "выпускной";
  display: block;
}

#main-menu li.menu-172:before {
  content: "выпускной";
  display: block;
}

#main-menu li.menu-173:before {
  content: "выпускной";
  display: block;
}

#main-menu li.menu-174:before {
  content: "посетите";
  display: block;
}

#main-menu li.menu-175:before {
  content: "узнайте";
  display: block;
}

@font-face {
  font-family: Segoe; 
  src: local("Segoe"), 
       url(../font/segoesc.ttf);
}

.view-main-gallery-block #views_slideshow_cycle_main_main_gallery_block-page img {
  border: 20px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.view-main-gallery-block #views_slideshow_controls_text_main_gallery_block-page {
  text-align: center;
}

.view-main-gallery-block #views_slideshow_controls_text_main_gallery_block-page a {
  text-decoration: none;
  font-family: Segoe;
  color: #7ab602;
  margin: 0 10px;
}